.list, .connect-message {
  background-color: #EEE;
}

.connect-message .webix_el_box {
  color: #569562;
}

.footer .webix_template {
  text-align: center;
}

.rankings {
  background-color: #F4F5F9;
}

.hover.webix_cell, .webix_column > div.hover.webix_row_select {
  background-color: #83c8d1;
}

.remove-customer {
  float: right;
}

.customers_list .webix_list_item:nth-child(-n+5) {
  background-color: #83c8d1;
}